.bg-green{
  background-color: #003c25;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contenPrincipal{
  flex-grow: 1;
}

#contenError404{
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnError404{
  width: 100px;
  height: 40px;
  background-color: #014d2f !important;
  border-color: #014d2f !important;
}

#contenBanner{
  height: 5%;
  width: 100%;
}

#imgBanner{
  width: 100%;
  object-fit: cover;
}
.btnCard{
  background-color: #014d2f !important;
  border-color: #014d2f !important;
}